/***************************************
footer
***************************************/
#footer{
	background-color: #325C6A;
}
.ftr-tle {
    height: 50px;
}
.quick-info li i {
    font-size: 8px;
    width: 15px;
    height: 15px;
    line-height: 13px;
    text-align: left;
    vertical-align: middle;
}
.social-icon li {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
		margin-bottom: 5px;
    color: #fff;
}
.bglight-blue {
    background-color: #3498DB;
}
.bgdarker-blue {
  background-color: #007bff;
}
.bgred {
    background-color: #E74C3C;
}
.bgdark-blue {
    background-color: #2C3E50;
}
.top-footer {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-line {
    padding: 30px 0px;
    color: #fff;
}
.top-footer ul {
	list-style: none;
}
